---
import Layout from "@/layouts/Layout.astro";
import IaaSConfigurator from "@/widgets/cloud-services/iaas/IaaSConfigurator";
import Hero from "@/widgets/Hero.astro";
import AboutSection from "@/components/shared/AboutSection.astro";
import iaasImg from "@/assets/iaas.png";
import { iaas_advantages, iaas_advantages_2 } from "@/lib/data/iaasData";
import IaasCard from "@/components/cloud-services/iaas/IaasCard.astro";
import IaasUseCaseCard from "@/components/cloud-services/iaas/IaasUseCaseCard.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import { smartcloudAdvantages } from "@/lib/data/homeData";
import TrialSection from "@/widgets/TrialSection.astro";
import { MoveRight } from "lucide-react";
import { getTranslations } from "@/utils/i18n";
import Text from "@/components/ui/Text.astro";

const seoData = {
  title: "IaaS в Узбекистане – Виртуальная инфраструктура от SmartCloud",
  description:
    "IaaS – масштабируемые облачные ресурсы для бизнеса в Узбекистане. Гибкое управление серверами, высокая производительность, надежность.",
  descriptionUz:
    "IaaS – Oʻzbekistonda bulutli infratuzilma. Moslashuvchan server boshqaruvi, yuqori samaradorlik va ishonchlilik.",
  keywords:
    "IaaS, облачная инфраструктура, серверы, виртуальные машины, SmartCloud, облачные технологии, инфраструктура как услуга",
  keywordsUz:
    "IaaS, bulut infratuzilmasi, serverlar, virtual mashinalar, SmartCloud, bulut texnologiyalari",
  url: "https://smartcloud.uz/cloud-services/iaas/",
  image: "https://smartcloud.uz/assets/iaas.svg",
  author: "SmartCloud",
};
const t = getTranslations("ru", "IaaS")
---

<Layout {...seoData}>
  <Hero imgSrc={iaasImg}>
    <div>
      <a
        href="https://portal.smartcloud.uz/index.php?/cart/iaas-ssd/"
        class="group inline-block"
        target="_blank"
      >
        <div
          class="p-2 px-6 bg-secondary/10 flex items-center gap-2 hover:bg-secondary/50 rounded-md text-regular"
        >
        <Text text={t.days} variant="h5"/>
          <MoveRight className="group-hover:translate-x-2 transition-all" />
        </div>
      </a>
      <Text text={t.title} type="highlight" class="mt-10"/>
      <Text text={t.description} variant="h4" class="mt-4"/>
    </div>
  </Hero>

  <AboutSection title={t.AboutSection.title}>
    <Text text={t.AboutSection.description} variant="h3"/>
  </AboutSection>

  <div class="my-dynamic">
    <Text text={t.firstSubTitle} variant="h2" class="text-center mb-dynamic"/>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10">
      {
        iaas_advantages_2.map((item) => (
          <IaasCard title={item.title} Icon={item.icon} />
        ))
      }
    </div>
  </div>

  <IaaSConfigurator client:idle />


  <Text text={t.secondSubTitle} variant="h2" class="text-center mb-dynamic"/>

  <div class="grid md:grid-cols-2 gap-dynamic10">
    {iaas_advantages.map((item) => <IaasUseCaseCard title={item} />)}
  </div>
  <AdvantageCard
    title={t.AdvantageCard.title}
    dataArray={smartcloudAdvantages}
    cardClassName="xl:grid-cols-3"
  />
  <TrialSection days={14} />
</Layout>
