---
import Layout from "@/layouts/Layout.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import AboutSection from "@/components/shared/AboutSection.astro";
import Hero from "@/widgets/Hero.astro";
import Text from "@/components/ui/Text.astro";
import baasImg from "@/assets/baas.png";
import { baasAdvantages, baasUseCases } from "@/lib/data/baasData";
import IaasUseCaseCard from "@/components/cloud-services/iaas/IaasUseCaseCard.astro";
import { getTranslations } from "@/utils/i18n";
const seoData = {
  title: "BaaS – Облачные резервные копии от SmartCloud",
  description:
    "BaaS – автоматическое резервирование данных, защита от потерь и отказов, быстрый доступ к бэкапам в облаке.",
  descriptionUz:
    "BaaS – biznes uchun bulutli zaxira nusxalari. Ma'lumotlarni avtomatik saqlash va yoʻqotishdan himoya.",
  keywords:
    "BaaS, резервное копирование, облачное хранилище, backup, защита данных, SmartCloud, облачные технологии",
  keywordsUz:
    "BaaS, zaxira nusxalari, bulut xotirasi, backup, ma’lumotlarni himoya qilish, SmartCloud",
  url: "https://smartcloud.uz/cloud-services/baas/",
  image: "https://smartcloud.uz/assets/baas.svg",
  author: "SmartCloud",
};

const t = getTranslations("ru", "BaaS");

---

<Layout {...seoData}>
  <Hero imgSrc={baasImg}>
    <Text text={t.title} type="highlight"/>
    
    <Text text={t.description} variant="h3" class="mt-2"/>
  </Hero>

  <Text text={t.subTitle} variant="h2" class="text-center mb-dynamic"/>

  <div class="grid md:grid-cols-2 gap-dynamic10">
    {baasUseCases.map((item) => <IaasUseCaseCard title={item} />)}
  </div>

  <AdvantageCard
    cardClassName="xl:grid-cols-3"
    title={t.AdvantageCard.title}
    data={baasAdvantages}
  />
  <AboutSection title={t.AboutSection.title} className="text-extra-large">
    <div>
      <Text text={t.AboutSection.firstSubTitle} variant="h3" class="font-bold"/>
      <Text text={t.AboutSection.descriptionFirstPart} variant="h4"/>
    </div>
    <div class="my-10">
      <Text text={t.AboutSection.secondSubTitle} variant="h3" class="font-bold"/>
      <Text text={t.AboutSection.descriptionSecondPart} variant="h4"/>
    </div>
    <div>
      <Text text={t.AboutSection.thirdSubTitle} variant="h3" class="font-bold"/>
      <Text text={t.AboutSection.descriptionThirdPart} variant="h4"/>
    </div>
  </AboutSection>
</Layout>
