---
import Accordion from "@/components/ui/Accordion.astro";
import Text from "@/components/ui/Text.astro";
import { getTranslations } from "@/utils/i18n";

const currentLocale = Astro.url.pathname.startsWith("/uz") ? "uz" : "ru";
const t = getTranslations(currentLocale, "Support");
---

<div class="my-dynamic">
  <Text text={t.SupportAccordion.title} variant="h2" class="text-center" />
  <Accordion title={t.SupportAccordion.question1}>
    <Text text={t.SupportAccordion.answer1} variant="h5" />
  </Accordion>
  <Accordion title={t.SupportAccordion.question2}>
    <Text text={t.SupportAccordion.answer2} variant="h5" />
  </Accordion>
  <Accordion title={t.SupportAccordion.question3}>
    <Text text={t.SupportAccordion.answer3} variant="h5" type="highlight" />
  </Accordion>
</div>
