---
import { getTranslations } from "@/utils/i18n";
import Text from "@/components/ui/Text.astro";

const locale = Astro.url.pathname.startsWith("/uz") ? "uz" : "ru";
const t = getTranslations(locale, "AboutUs");
---

<div
  class="mb-dynamic40 p-10 bg-slate-100 dark:bg-slate-900/50 rounded-xl"
  id="aboutUsContainer"
>
  <section
    class="grid grid-cols-1 lg:grid-cols-2 gap-dynamic20 justify-between"
  >
    <div class="flex flex-col gap-5">
      <Text text={t.title} variant="h2" id="aboutUsTitle"/>
      <Text text={t.description} variant="h5" class="whitespace-pre-line" id="aboutUsDesc" type="highlight"/>
    </div>
    <div
      class="grid grid-cols-1 items-stretch justify-center gap-5 sm:grid-cols-2"
    >
      <div class="p-5 grid gap-4 rounded-md about-us">
        <h2 class="text-dynamicNumber font-medium">
          25<span class="text-secondary">+</span>
        </h2>
        <Text text={t.stats.experience} variant="h5"/>
      </div>
      <div class="p-5 grid gap-4 rounded-md about-us">
        <h2 class="text-dynamicNumber font-medium">
          100<span class="text-secondary">+</span>
        </h2>
        <Text text={t.stats.partners} variant="h5"/>
      </div>
      <div class="p-5 grid gap-4 rounded-md about-us">
        <h2 class="text-dynamicNumber font-medium">
          200<span class="text-secondary">+</span>
        </h2>
        <Text text={t.stats.clients} variant="h5"/>
      </div>
      <div class="p-5 grid gap-4 rounded-md about-us">
        <h2 class="text-dynamicNumber font-medium">
          160<span class="text-secondary">+</span>
        </h2>
        <Text text={t.stats.employees} variant="h5"/>
      </div>
    </div>
  </section>
</div>

<script>
  import { gsapTrigger } from "@/lib/gsapTrigger";

  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".about-us");
    const aboutUsContainer = document.getElementById("aboutUsContainer");
    const aboutUsTitle = document.getElementById("aboutUsTitle");
    const aboutUsDesc = document.getElementById("aboutUsDesc");

    if (aboutUsContainer && aboutUsTitle && cards.length && aboutUsDesc) {
      const tl = gsapTrigger(aboutUsContainer);
      tl.fromTo(
        aboutUsTitle,
        { y: 50, opacity: 0 },
        { y: 0, opacity: 1, duration: 0.5 }
      );
      tl.fromTo(
        aboutUsDesc,
        { y: 50, opacity: 0 },
        { y: 0, opacity: 1, duration: 0.5 },
        "<"
      );
      cards.forEach((card) => {
        tl.fromTo(
          card,
          { y: 50, opacity: 0 },
          {
            y: 0,
            opacity: 1,
            duration: 0.2,
            stagger: 0.2,
          }
        );
      });
    }
  });
</script>
