---
import Accordion from "@/components/ui/Accordion.astro";
import { getTranslations } from "@/utils/i18n";
import Text from "@/components/ui/Text.astro";

const currentLocale = Astro.url.pathname.startsWith("/uz") ? "uz" : "ru";
const t = getTranslations(currentLocale, "DDoS");
---

<div class="my-dynamic">
  <h2 class="text-center text-extra-large font-medium">{t.DDoSAccordion.title}</h2>
  <Accordion title={t.DDoSAccordion.question1}>
    <Text text={t.DDoSAccordion.answer1} variant="h5" type="highlight" />
  </Accordion>
  <Accordion title={t.DDoSAccordion.question2}>
    <Text text={t.DDoSAccordion.answer2} variant="h5" type="highlight" />
  </Accordion>
</div>