---
import AboutSection from "@/components/shared/AboutSection.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import AdvantageCardWithIcon from "@/components/shared/AdvantageCardWithIcon.astro";
import Layout from "@/layouts/Layout.astro";
import { wafAdvantages, wafAdvantages2, wafUseCases } from "@/lib/data/wafData";
import Container from "@/widgets/Container.astro";
import Hero from "@/widgets/Hero.astro";
import wafImg from "@/assets/waf.svg";
import IaasUseCaseCard from "@/components/cloud-services/iaas/IaasUseCaseCard.astro";
import WafAccodtion from "@/widgets/security/waf/WafAccodtion.astro";
import { getTranslations } from "@/utils/i18n";
import Text from "@/components/ui/Text.astro";

const seoData = {
  title: "WAF (Web Application Firewall) – Защита веб-приложений",
  description:
    "Облачный WAF – защита сайтов и веб-приложений от атак SQL-инъекций, XSS и других угроз. Обеспечьте безопасность вашего бизнеса.",
  descriptionUz:
    "Bulutli WAF – SQL-in'ektsiyalar va zararli trafikdan himoya. Sayt va ilovalar xavfsizligi uchun samarali yechim.",
  keywords:
    "WAF, Web Application Firewall, защита сайтов, кибербезопасность, SmartCloud",
  keywordsUz:
    "WAF, Web Application Firewall, veb xavfsizligi, kiberxavfsizlik, SmartCloud",
  url: "https://smartcloud.uz/cloud-services/waf/",
  image: "https://smartcloud.uz/assets/waf.svg",
  author: "SmartCloud",
};

const t = getTranslations("ru", "WAF");
---

<Layout {...seoData}>
  <Container>
    <Hero imgSrc={wafImg}>
      <Text text={t.title} type="highlight" />
      <Text text={t.description} variant="h4" class="mt-4"/>
    </Hero>

    <AboutSection title={t.AboutSection.title}>
      <Text text={t.AboutSection.description} variant="h3"/>
    </AboutSection>

    <AdvantageCard
      title={t.AdvantageCard.title}
      dataArray={wafAdvantages}
      cardClassName="mt-0"
    />

    <section class="my-dynamic">
      <Text text={t.Selection.title} variant="h2" class="text-center mb-dynamic"/>

      <div class="grid lg:grid-cols-3 gap-dynamic10">
        {
          wafUseCases.map((item) => (
            <IaasUseCaseCard
              title={item.title}
              description={item.description}
            />
          ))
        }
      </div>
    </section>
  </Container>

  <AdvantageCardWithIcon
    title={t.AdvantageCardWithIcon.title}
    data={wafAdvantages2}
  />

  <Container>
    <WafAccodtion />
  </Container>
</Layout>
