---
import KasperskyCard from "@/components/kaspersky/KasperskyCard.astro";
import { getTranslations } from "@/utils/i18n";

import {
  kasperskyEnterprise,
  kasperskyIndividual,
  kasperskyMsb,
} from "@/lib/data/kaspersky";

import {
  kasperskyEnterpriseUZ,
  kasperskyIndividualUZ,
  kasperskyMsbUZ,
} from "@/lib/dataUZ/kaspersky";

const locale = Astro.url.pathname.startsWith('/uz') ? 'uz' : 'ru';
const t = await getTranslations(locale, "KasperskySolutions");

// Выбираем соответствующие данные в зависимости от локали
const kasperskyData = locale === "uz"
  ? {
      enterprise: kasperskyEnterpriseUZ,
      individual: kasperskyIndividualUZ,
      msb: kasperskyMsbUZ,
    }
  : {
      enterprise: kasperskyEnterprise,
      individual: kasperskyIndividual,
      msb: kasperskyMsb,
    };
---

<div class="mb-40">
  <h2 class="text-center text-2xl font-medium mb-20 lg:text-4xl whitespace-pre-line">
    {t.title}
  </h2>

  <div class="grid grid-cols-1 gap-5 lg:grid-cols-3">
    {
      kasperskyData.msb.map((item) => (
        <KasperskyCard
          title={item.title}
          desc={item.desc}
          list={item.list}
          listClassName="h-[130px]"
        />
      ))
    }
  </div>

  <h2 class="text-center text-2xl font-medium mb-20 mt-40 lg:text-4xl whitespace-pre-line">
    {t.descriptionFirstPart}
  </h2>

  <div class="grid grid-cols-1 gap-5 lg:grid-cols-3">
    {
      kasperskyData.enterprise.map((item) => (
        <KasperskyCard
          title={item.title}
          desc={item.desc}
          list={item.list}
          listClassName="h-[130px]"
        />
      ))
    }
  </div>

  <h2 class="text-center text-2xl font-medium mb-20 mt-40 lg:text-4xl">
    {t.descriptionSecondPart}
  </h2>

  <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-4">
    {
      kasperskyData.individual.map((item) => (
        <KasperskyCard
          title={item.title}
          desc={item.desc}
          list={item.list}
          buttonClassName="border-[#3b82f6]/50"
          listClassName="h-[240px]"
          cardClassName="border-[#3b82f6]/50"
        />
      ))
    }
  </div>
</div>
