---
import AboutSection from "@/components/shared/AboutSection.astro";
import AdvantageCard from "@/components/shared/AdvantageCard.astro";
import Layout from "@/layouts/Layout.astro";
import VdsCards from "@/widgets/cloud-services/vds/VdsCards";
import Hero from "@/widgets/Hero.astro";
import Text from "@/components/ui/Text.astro";
import vdsImg from "@/assets/vds.svg";
import {
  operatingSystems,
  vdsAdvantages,
  operatingSystemsWithProgram,
} from "@/lib/dataUZ/vdsData";
import TabNavigation from "@/widgets/cloud-services/vds/TabNavigation";
import { MoveRight } from "lucide-react";
import TrialSection from "@/widgets/TrialSection.astro";
import { getTranslations } from "@/utils/i18n";
const seoData = {
  title: "VDS (VPS) в Узбекистане – Виртуальные серверы SmartCloud",
  description:
    "VDS (VPS) – yuqori unumdorlikka ega virtual serverlar. SSD xotira bilan mustahkam bulutli yechim.",
  keywords:
    "VDS, VPS, virtual serverlar, hosting, bulut serverlari, SmartCloud, Linux, Windows",

  url: "https://smartcloud.uz/uz/cloud-services/vds/",
  image: "https://smartcloud.uz/assets/vds.svg",
  author: "SmartCloud",
};
const t = getTranslations("uz", "VDS")
---

<Layout {...seoData}>
  <Hero imgSrc={vdsImg}>
    <div>
      <a
        href="https://portal.smartcloud.uz/index.php?/cart/vds-ssd-/"
        class="group inline-block"
        target="_blank"
      >
        <div
          class="p-2 px-6 bg-secondary/10 flex items-center gap-2 hover:bg-secondary/50 rounded-md text-regular"
        >
          <Text text={t.days} variant="h5"/>
          <MoveRight className="group-hover:translate-x-2 transition-all" />
        </div>
      </a>
      <Text text={t.title} type="highlight" class="mt-10"/>
      <Text text={t.description} variant="h4" class="mt-6" type="highlight"/>
    </div>
  </Hero>

  <AboutSection title={t.AboutSection.title}>
    <Text text={t.AboutSection.description} variant="h3"/>
  </AboutSection>

  <TabNavigation
    operatingSystems={operatingSystems}
    operatingSystemsWithProgram={operatingSystemsWithProgram}
    client:idle
  />

  <VdsCards client:idle />

  <AdvantageCard
    title={t.AdvantageCard.title}
    data={vdsAdvantages}
    cardClassName="lg:grid-cols-3"
  />
  <TrialSection days={10} />
</Layout>
