---
import Accordion from "@/components/ui/Accordion.astro";
import Text from "@/components/ui/Text.astro";
import { getTranslations } from "@/utils/i18n";

const curretLocal = Astro.url.pathname.startsWith("/uz")? "uz":"ru";
const t = getTranslations(curretLocal, "WAF");
---

<div class="my-dynamic">
  <Text text={t.WAFAccordion.title} variant="h2" class="text-center"/>
  <Accordion title={t.WAFAccordion.question1}>
    
    <Text text={t.WAFAccordion.answer1} variant="h5" type="highlight"/>
  </Accordion>
  <Accordion title={t.WAFAccordion.question2}>
    <Text text={t.WAFAccordion.answer2FirstPart} variant="h4" type="highlight"/>
    <Text text={t.WAFAccordion.answer2SecondPart} variant="h5" type="highlight"/>
  </Accordion>
  <Accordion title={t.WAFAccordion.question3}>
    <Text text={t.WAFAccordion.answer3} variant="h5" type="highlight"/>
  </Accordion>
</div>