---
import { headerData } from "@/lib/data/headerData";
import Container from "./Container.astro";
import { Send, Instagram } from "lucide-react";
import { getTranslations } from "@/utils/i18n";

const locale = Astro.url.pathname.startsWith('/uz') ? 'uz' : 'ru';
const t = await getTranslations(locale, "footer");

const currentPath = Astro.request.url.includes("uz");

---

<footer class="mt-20 py-10">
  <Container>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10">
      <div class="flex flex-col">
        <h2 class="h-10 text-sm">{t.contacts}</h2>
        <ul class="flex flex-col gap-2">
          <li class="ml-1">+998 95 195 75 75</li>
          <li class="ml-1">+998 90 359 89 67</li>
          <li class="ml-1">info@smartcloud.uz</li>
        </ul>
      </div>
      <div class="flex flex-col">
        <h2 class="h-10 text-sm">{t.addresses.label}</h2>
        <ul class="flex flex-col gap-2">
          <li class="ml-1">
            {t.addresses.address1}
          </li>
          <li class="ml-1">
            {t.addresses.address2}
          </li>
        </ul>
      </div>
      {
        headerData.map((item) => (
          <div class="flex flex-col">
            <h2 class="h-10 text-sm">{currentPath ? item.labelUZ : item.label}</h2>
            <ul class="flex flex-col gap-2">
              {(currentPath ? item.linksUZ : item.links).map((link) => (
                <li class="ml-1">
                  <a href={link.href}>
                    <h3>{link.label}</h3>
                  </a>
                </li>
              ))} 
            </ul>
           </div>
        ))
      }
    </div>
  </Container>
  <div class="border-[1px] border-gray-300/50 mb-10 mt-20"></div>
  <Container>
    <div class="flex justify-between items-center">
      <p class="text-sm text-gray-400">
        © 2021 SmartCloud. All rights reserved.
      </p>
      <ul class="flex gap-2">
        <li>
          <a
            href="https://t.me/muradibragimov"
            aria-label="Отправить сообщение"
            title="Отправить сообщение"
            target="_blank"
          >
            <Send size={20} />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/smartcloud.uz?igsh=MTRrY2UwbXFjdmpodQ=="
            aria-label="Наш Instagram"
            title="Следуйте за нами в Instagram"
            target="_blank"
          >
            <Instagram size={20} />
          </a>
        </li>
      </ul>
    </div>
  </Container>
</footer>
