---
type Props = {
  text: string;
  type?: "highlight" | "regular";
  variant?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
  class?: string;
  id?: string;
};

const { text, type = "regular", variant, class: className, id} = Astro.props;

const varClassNames = {
  h1: "text-dynamic leading-none",
  h2: "text-extra-large",
  h3: "text-large",
  h4: "text-medium",
  h5: "text-regular",
  h6: "text-small",
};

const dynamicClass = variant ? varClassNames[variant] : varClassNames.h1;

const finalClass = /font-(thin|light|normal|medium|semibold|bold|extrabold|black)/.test(className || "")
  ? `${dynamicClass} ${className || ""}`
  : `${dynamicClass} font-medium ${className || ""}`;
---

{
  type === "highlight" ? (
    <h1 id={id} class={finalClass} set:html={text} />
  ) : (
    <h1 id={id} class={finalClass}>{text}</h1>
  )
}